@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: black;
}

h1, h2 {
    font-family: Lobster, open-sans;
    font-weight: 400;
    color: black;
}

h3 {
    font-family: Lobster, open-sans;
    color: white;
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 15px;
}

#menu {
    color:black;
    font-size: 140%;
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    float: right;
    margin-right: 30px;
    font-family: Open Sans, sans-serif;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: solid 1px;
    border-color: grey;
}

.active {
    border-bottom: solid 1px;
    border-color: grey;
}

#cover-text, #cover-text h2 {
    color: white;
    text-align: center;
}

#main-image {
    height: 800px;
    width: 100%;
    background: url('../images/shutterstock_377884705.jpg') no-repeat center center;
    overflow: hidden;
    position: relative;
}

#cover-text {
    font-size: 200%;
    font-family: Open-sans, sans-serif;
    width: 600px;
    height: 300px;
    background-color: rgba(0, 0, 0, .5);
    padding-top: 40px;
    padding-left: 10px;
    bottom: 400px;
    right: 675px;
    top: 250px;
    position: absolute;
    border-radius: 50%;
    margin: 0 auto;

}

.community-style {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: black;
        color: white;
        font-size: 130%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#secondary-image {
    height: 400px;
    width: 100%;
    background: url('../images/shutterstock_372378982\ use.jpg') no-repeat center;
    overflow: hidden;
    position: relative;}

#secondary-image > div {
    font-size: 200%;
    float: left;
    height: 200px;
    width: 33%;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 auto;
    text-align: center;
    border: 2px solid white;
    position: relative;
    top: 100px;
    bottom: 400px;
}

#coffee-head {
    font-size: 300%;
    color: white;
    font-family: Lobster, open-sans;
    text-align: center;
}

footer{
    height: 200px;
}

.social {
    text-align: center;
    background-color: black;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 300%;
    margin: 1%;
    color: white;
    padding: 5%;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    
}