@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: blueviolet;
}

h1, h2 {
    font-family: Lobster, sans-serif;
    font-weight: 400;
    color: red;
}

#logo {
    float: left;
    font-size: 350%;
}

#menu {
    color:black;
    font-size: 140%;
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    float: right;
    margin-right: 30px;
    font-family: Open Sans, sans-serif;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: solid 1px;
    border-color: red;
}

.active {
    border-bottom: solid 1px;
    border-color: red;
}

html { 
    background: url(../images/Landingimage1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }